<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--第二种方式：下表赋值-->
<!--    <bean id="user" class="com.kuang.pojo.User">
        <constructor-arg index="0" value="狂神java"/>
    </bean>-->

    <!--第二种方式：通过类型创建（不建议使用）-->
   <!-- <bean id="user" class="com.kuang.pojo.User">
        <constructor-arg type="java.lang.String" value="我是String"/>
    </bean>-->

    <!--第三种方式：直接通过参数名来赋值-->
<!--    <bean id="user" class="com.kuang.pojo.User">
        <constructor-arg name="name" value="name" />
    </bean>-->
    <!--第一种方式取别名：别名-->
    <!--<alias name="user" alias="newUser"/>-->

    <!--
    id ：bean的唯一标识，也就相当于我们的对象名
    class：bean 对象所对应的全限定名：包名 + 类型
    name ：也是别名，而且name可以取多个别名
    -->
    <bean id="userT" class="com.kuang.pojo.UserT" name="newUserT UserTT,new;two">
        <property name="name" value="我的名字"/>
    </bean>


</beans>