<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.dao.BooksMapper">

    <!--    增加一本书
    int addBook(Books books);
    -->
    <insert id="addBook" parameterType="Books">
        insert into ssmbuild.books(bookName, bookCounts, detail)
         VALUE (#{bookName}, #{bookCounts}, #{detail})
    </insert>


    <!--    删除一本书
    int deleteBooks(int id);
    -->
    <delete id="deleteBooks" parameterType="int">
        delete from ssmbuild.books where bookID = #{bookId}
    </delete>


    <!--    更新一本书
    int updateBooks(Books books);
    -->
    <update id="updateBooks" parameterType="Books">
        update ssmbuild.books
        set bookName=#{bookName}, bookCounts=#{bookCounts}, detail=#{detail}
        where bookID=#{bookID}
    </update>

    <!--    查询一本书
    Books queryBookById(int id);
    -->
    <select id="queryBookById" resultType="Books">
        select * from ssmbuild.books
        where bookID=#{bookId}
    </select>

    <!--    查询全部的书
    List<Books> queryAllBook();
    -->
    <select id="queryAllBook" resultType="Books">
        select * from ssmbuild.books
    </select>

    <!--    搜索框查询书
     Books queryBookName(@Param("bookName") String bookName);
    -->
    <select id="queryBookName" resultType="Books">
        select * from ssmbuild.books where bookName = #{bookName}
    </select>


</mapper>