<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--conf核心配置文件-->
<configuration>
    <!--给类取别名-->
    <typeAliases>
        <package name="com.kuang.pojo"/>
    </typeAliases>
    <!--settings-->
<!--    <settings>
        <setting name="" value=""/>
    </settings>-->

</configuration>